<div class="cabecera black"><br>
  <img src="assets/images/logo.png" alt="homepage" class="light-logo" style="margin-left: 5%;" />
  <span style="color: rgb(255, 255, 255); font-size: 20px; font-weight: bold;"> Idepro </span>
  <span style="color: rgb(255, 255, 255); font-size: 20px;"> IFD</span>
  <div class="salir"><a href="https://www.idepro.org/" class="myButton">volver
          <span class="icon_salir" style="font-size: 14px;" class="material-icons">
              home
          </span> </a>
  </div>
</div>
<div class="cuerpo">
  <br>
  <br>
  <br>


  <div class=" px-1 px-md-4 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-11 col-lg-10 col-xl-9">
              <div class="card card0 border-0">
                  <div class="row">
                      <div class="col-12">
                          <div class="card card00 m-2 border-0">
                              <div class="row text-center justify-content-center px-3">
                                  <p class="prev text-danger"><span id="back" class="fa fa-long-arrow-left"> Atrás
                                      </span></p>
                                  <h3 class="mt-4">Formulario de Postulación
                                  </h3>
                                  <br>
                              </div>
                              <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
                                  <div class="col-md-4">
                                      <div class="card1">
                                          <ul id="progressbar" class="text-center">
                                              <li class="active step0"></li>
                                              <li class="step0"> </li>
                                              <li class="step0"></li>
                                              <li class="step0"></li>

                                          </ul>
                                          <h6 class="md-5" style="color: rgb(20, 63, 7);">Datos Personales</h6>
                                          <h6 style="margin-top: 55px; color: rgb(20, 63, 7);" class="md-5">Datos familiares</h6>
                                          <h6 style="margin-top: 55px; color: rgb(20, 63, 7);" class="md-5">Estudios Realizados</h6>
                                      </div>
                                  </div>
                                  <div class="col-md-10">
                                      <div class="card2 first-screen show ml-2">
                                          <div class="form-group">
                                              <label class="right-inline">Ap. Paterno</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Ap. Materno </label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Nombres</label>
                                              <input type="text"   style="width: 100%;" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Cedula Ident. </label>
                                              <input  type="text" class="input-control" required/>
                                              <label class="right-inline">Expedido   </label>
                                              <select 
                                              class="input-control" required>
                                              <option>LA PAZ</option>
                                              <option>SANTA CRUZ</option>
                                              <option>COCHABAMBA</option>
                                              <option>PANDO</option>
                                              <option>BENI</option>
                                              <option>ORURO</option>
                                              <option>POTOSI</option> 
                                              <option>TARIJA</option>
                                              <option>SUCRE</option>
                                          </select> 
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Estado Civil</label>
                                              <select 
                                              class="input-control" required>
                                              <option>Casad(a)</option>
                                              <option>Solter(a)</option>                                              
                                               </select> 

                                              <label class="right-inline">Lugar de Nacimiento </label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Fecha de Nac.</label>
                                              <input type="date" class="input-control" required/>

                                              <label class="right-inline">Nacionalidad</label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Ciudad Residencia</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Teléfono Fijo</label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Dirección de Domicilio</label>
                                              <input type="text"   style="width: 100%;" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Nro. Celular</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Correo electrónico</label>
                                              <input  type="email" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Otro Teléfono de Contacto</label>
                                              <input type="text"   style="width: 100%;" class="input-control" required/>
                                          </div>
                                          <div class="row px-1 mt-2" style="text-align:center;">
                                              <div class="next-button"
                                                  style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold;">
                                                  siguiente <span class="icon_salir" style="font-size: 14px; margin-top: 7px;" class="material-icons">
                                                      chevron_right
                                                  </span>
                                              </div>
                                          </div>


                                      </div>
                                      <div class="card2 ml-2">
                                    
                                          <div class="form-group">
                                              <label class="right-inline">Cedula Ident. </label>
                                              <input  type="text" class="input-control" required/>
                                              <label class="right-inline">Expedido   </label>
                                              <select 
                                              class="input-control" required>
                                              <option>LA PAZ</option>
                                              <option>SANTA CRUZ</option>
                                              <option>COCHABAMBA</option>
                                              <option>PANDO</option>
                                              <option>BENI</option>
                                              <option>ORURO</option>
                                              <option>POTOSI</option> 
                                              <option>TARIJA</option>
                                              <option>SUCRE</option>
                                          </select> 
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Estado Civil</label>
                                              <select 
                                              class="input-control" required>
                                              <option>Casad(a)</option>
                                              <option>Solter(a)</option>                                              
                                               </select> 

                                              <label class="right-inline">Lugar de Nacimiento </label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Fecha de Nac.</label>
                                              <input type="date" class="input-control" required/>

                                              <label class="right-inline">Nacionalidad</label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Ciudad Residencia</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Teléfono Fijo</label>
                                              <input  type="text" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Dirección de Domicilio</label>
                                              <input type="text"   style="width: 100%;" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Nro. Celular</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Correo electrónico</label>
                                              <input  type="email" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Otro Teléfono de Contacto</label>
                                              <input type="text"   style="width: 100%;" class="input-control" required/>
                                          </div>
                                          <div class="row px-1 mt-2" style="text-align:center;">
                                              <div class="next-button"
                                                  style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold;">
                                                  siguiente <span class="icon_salir" style="font-size: 14px; margin-top: 7px;" class="material-icons">
                                                      chevron_right
                                                  </span>
                                              </div>
                                          </div>

                                      </div>
                                      <div class="card2 ml-2">
                                          <div class="form-group">
                                              <label class="right-inline">Nro. Celular</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Correo electrónico</label>
                                              <input  type="email" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Nro. Celular</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Correo electrónico</label>
                                              <input  type="email" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Nro. Celular</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Correo electrónico</label>
                                              <input  type="email" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Nro. Celular</label>
                                              <input type="text" class="input-control" required/>

                                              <label class="right-inline">Correo electrónico</label>
                                              <input  type="email" class="input-control" required/>
                                          </div>
                                          <div class="form-group">
                                              <label class="right-inline">Otro Teléfono de Contacto</label>
                                              <input type="text"   style="width: 100%;" class="input-control" required/>
                                          </div>
                                          <div class="row px-1 mt-2" style="text-align:center;">
                                              <div class="next-button"
                                                  style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold;">
                                                  siguiente <span class="icon_salir" style="font-size: 14px; margin-top: 7px;" class="material-icons">
                                                      chevron_right
                                                  </span>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="card2 ml-2">
                                          <div class="row px-3 mt-2 mb-4 text-center">
                                              <h2 class="col-12" style="color: #068110"><strong>Correctamente
                                                      !</strong></h2>
                                              <div class="col-12 text-center"><img class="tick"
                                                      style="color: darkorange;width: 120px;"
                                                      src="assets/images/icon/successgif.gif"></div>
                                              <h6 class="col-12 mt-2"><i>...Se envió su postulación...</i></h6>
                                              <br>
                                              <br>
                                              <br>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="row px-3">

                                  <!-- <img class="pic ml-auto mr-3" src="assets/images/postulante.jpg">-->   
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>