<div class="cabecera black"><br>
    <img src="assets/images/logo.png" alt="homepage" class="light-logo" style="margin-left: 5%;" />
    <span style="color: rgb(255, 255, 255); font-size: 20px; font-weight: bold;"> Idepro </span>
    <span style="color: rgb(255, 255, 255); font-size: 20px;"> IFD</span>
    <div class="salir"><a href="https://www.idepro.org/" class="myButton">volver
          <span class="icon_salir" style="font-size: 14px;" class="material-icons">
              home
          </span> </a>
    </div>
</div>
<div class="cuerpo">
    <br>
    <br>
    <br>


    <div class=" px-1 px-md-4 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                <div class="card card0 border-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card00 m-2 border-0">
                                <div class="row text-center justify-content-center px-3">
                                    <p class="prev text-danger"><span id="back" class="fa fa-long-arrow-left"> Atrás
                                      </span></p>
                                    <h3 class="mt-4" style="font-weight: bold;">Formulario de Postulación
                                    </h3>
                                    <br>
                                </div>
                                <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">

                                    <div class="col-lg-12">

                                        <div class="card2 first-screen show ml-2">
                                            <h5 class="subtitulo"> &nbsp;DATOS PERSONALES
                                            </h5>
                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">a) Complete TODA la Información que se solicita con relación a sus DATOS PERSONALES.</span>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="right-inline">Ap. Paterno</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">Ap. Materno </label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Nombres</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Cedula Ident. </label>
                                                <input type="text" class="input-control" required/>
                                                <label class="right-inline">Expedido   </label>
                                                <select class="input-control" required>
                                              <option>LA PAZ</option>
                                              <option>SANTA CRUZ</option>
                                              <option>COCHABAMBA</option>
                                              <option>PANDO</option>
                                              <option>BENI</option>
                                              <option>ORURO</option>
                                              <option>POTOSI</option> 
                                              <option>TARIJA</option>
                                              <option>SUCRE</option>
                                          </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Estado Civil</label>
                                                <select class="input-control" required>
                                              <option>Casad(a)</option>
                                              <option>Solter(a)</option>                                              
                                               </select>

                                                <label class="right-inline">Lugar de Nacimiento </label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Fecha de Nac.</label>
                                                <input type="date" class="input-control" required/>

                                                <label class="right-inline">Nacionalidad</label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Ciudad Residencia</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">Teléfono Fijo</label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Dirección de Domicilio</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Nro. Celular</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">Correo electrónico</label>
                                                <input type="email" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Otro Teléfono de Contacto</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>
                                            </div>
                                            <div class="row px-1 mt-2" style="text-align:center;">
                                                <div class="next-button" style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold;">
                                                    siguiente <span class="icon_salir" style="font-size: 14px; margin-top: 7px;" class="material-icons">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="card2 ml-2">
                                            <h5 class="subtitulo"> &nbsp;DATOS FAMILIARES
                                            </h5>
                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">a) Información sobre su Esposo(a) o Persona con la que Convive.</span>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="right-inline">Ap. Paterno</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">Ap. Materno </label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Ap. Casada</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>

                                                <label class="right-inline">Nombres</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Cedula Ident. </label>
                                                <input type="text" class="input-control" required/>
                                                <label class="right-inline">Expedido   </label>
                                                <select class="input-control" required>
                                              <option>LA PAZ</option>
                                              <option>SANTA CRUZ</option>
                                              <option>COCHABAMBA</option>
                                              <option>PANDO</option>
                                              <option>BENI</option>
                                              <option>ORURO</option>
                                              <option>POTOSI</option> 
                                              <option>TARIJA</option>
                                              <option>SUCRE</option>
                                          </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Ocupación del/la Esposo(a) o Persona con la que Convive:</label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Lugar de Trabajo del/la Esposo(a) o Persona con la que Convive:</label>
                                                <input type="text" class="input-control" required/>
                                            </div>

                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">b) Información sobre sus Familiares y los Familiares de su Esposo(a) o Persona con la que Convive.</span>
                                            <br>

                                            <span style="font-weight: 16px; font-weight: bold;color: brown;">IMPORTANTE:</span>
                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">"1. El Formulario que no presente esta información llenada a cabalidad, será  <span style="color: #8f0505; font-weight: bold;"> INVALIDADO</span> y se lo
                                            retirará del proceso de reclutamiento y selección del cargo al que postula.<br> 2. En el caso de Hijos(as) colocar los datos sólo en la columna que corresponde al Postulante, en caso de contar con hijastros
                                            colocar en la columna del/la Esposo(as) o Persona con la que Convive.<br> 3. En el caso de no contar con familiares o con la información completa (Apellidos paternos, maternos y nombre) señale en la celda de
                                            observaciones dicha situación.<br> 4. El Formulario debe ser llenado con todos los familiares, Incluyendo los fallecidos (+), tanto de la persona que postula como de su conyugue.<br> 5. En caso de requerir más
                                            espacios para completar los datos de sus hermanos o hijos; la hoja ""familiares"" se encuentra habilitada para que pueda completar la información."</span>
                                            <br>
                                            <br>
                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">Familia del/la Postulante.</span>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="right-inline">Tipo de Parentesco </label>
                                                <select class="input-control" required>
                                              <option>Abuelo por parte de padre</option>
                                              <option>Abuela por parte de padre</option>
                                              <option>Abuelo por parte de madre</option>
                                              <option>Abuela por parte de madre</option>
                                              <option>Padre</option>
                                              <option>Madre</option>
                                              <option>Hermano(a)-1</option> 
                                              <option>Hermano(a)-2</option>
                                              <option>Hermano(a)-3</option>
                                              <option>Hermano(a)-4</option>
                                              <option>Hermano(a)-5</option>
                                              <option>Hijo(a) - 1</option>
                                              <option>Hijo(a) - 2</option>
                                              <option>Hijo(a) - 3</option>
                                              <option>Hijo(a) - 4</option>
                                              <option>Hijo(a) - 5</option>                        
                                          </select>

                                                <label class="right-inline">Nombres</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline" style="width: auto;">Ap. Paterno</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">Ap. Materno </label>
                                                <input type="text" class="input-control" required/>


                                            </div>

                                            <div class="form-group">
                                                <label class="right-inline">Documento Identidad </label>
                                                <input type="text" class="input-control" required/>
                                                <label class="right-inline">Expedido   </label>
                                                <select class="input-control" required>
                                              <option>LA PAZ</option>
                                              <option>SANTA CRUZ</option>
                                              <option>COCHABAMBA</option>
                                              <option>PANDO</option>
                                              <option>BENI</option>
                                              <option>ORURO</option>
                                              <option>POTOSI</option> 
                                              <option>TARIJA</option>
                                              <option>SUCRE</option>
                                          </select>
                                                <input type="button" class="input-control" value="Guardar">

                                            </div>

                                            <br>
                                            <br>
                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">Familia del/la Esposo(a) / Persona con la que Convive.</span>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="right-inline">Tipo de Parentesco </label>
                                                <select class="input-control" required>
                                                    <option>Abuelo por parte de padre</option>
                                                    <option>Abuela por parte de padre</option>
                                                    <option>Abuelo por parte de madre</option>
                                                    <option>Abuela por parte de madre</option>
                                                    <option>Padre</option>
                                                    <option>Madre</option>
                                                    <option>Hermano(a)-1</option> 
                                                    <option>Hermano(a)-2</option>
                                                    <option>Hermano(a)-3</option>
                                                    <option>Hermano(a)-4</option>
                                                    <option>Hermano(a)-5</option>
                                                    <option>Hijo(a) - 1</option>
                                                    <option>Hijo(a) - 2</option>
                                                    <option>Hijo(a) - 3</option>
                                                    <option>Hijo(a) - 4</option>
                                                    <option>Hijo(a) - 5</option>
                                          </select>

                                                <label class="right-inline">Nombres</label>
                                                <input type="text" style="width: 100%;" class="input-control" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline" style="width: auto;">Ap. Paterno</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">Ap. Materno </label>
                                                <input type="text" class="input-control" required/>
                                                <input type="button" class="input-control" value="Guardar">

                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline">Documento Identidad </label>
                                                <input type="text" class="input-control" required/>
                                                <label class="right-inline">Expedido   </label>
                                                <select class="input-control" required>
                                              <option>LA PAZ</option>
                                              <option>SANTA CRUZ</option>
                                              <option>COCHABAMBA</option>
                                              <option>PANDO</option>
                                              <option>BENI</option>
                                              <option>ORURO</option>
                                              <option>POTOSI</option> 
                                              <option>TARIJA</option>
                                              <option>SUCRE</option>
                                          </select>
                                                <input type="button" class="input-control" value="Guardar">

                                            </div>

                                            <div class=" row px-1 mt-2 " style="text-align:center; ">
                                                <div class="next-button " style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold; ">
                                                    siguiente <span class="icon_salir " style="font-size: 14px; margin-top: 7px; " class="material-icons ">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card2 ml-2 ">

                                            <h5 class="subtitulo"> &nbsp;ESTUDIOS REALIZADOS
                                            </h5>
                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">a) Estudios de Pregrado</span>
                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">"Complete TODA la Información que se solicita con relación a su formación académica (estudios realizados en PREGRADO).
                                                Deberá seleccionar SÓLO el NIVEL MÁXIMO DE ESTUDIOS ALCANZADOS: Primaria/Secundaria-Estudiante Univ.(de 1 a 3 años)/Técnico Medio-Estudiante Univ.(de 4 a 5 años)/Técnico Superior-Egresado Universitario-Licenciatura."</span>
                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Nivel de Estudios</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Colegio/Centro de Estudios/Universidad</label>
                                                <input type="email " class="input-control " required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="right-inline ">Área de Estudio/Carrera</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">País</label>
                                                <input type="email " class="input-control " required/>
                                            </div>
                                            <div class="form-group">

                                                <label class="right-inline">Concluida</label>
                                                <select class="input-control" required>
                                              <option>SI</option>
                                              <option>NO</option>                                              
                                               </select>

                                                <label class="right-inline">Fecha Inicio</label>
                                                <input type="date" class="input-control" required/>

                                                <label class="right-inline">Fecha Fin</label>
                                                <input type="date" class="input-control" required/>
                                            </div>

                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">b) Estudios de Posgrado</span>
                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">"Complete TODA la Información que se solicita con relación a estudios realizados en POSTGRADO.
                                                Deberá seleccionar el nivel de estudios: Diplomado/Postgrado-Maestría-Doctorado"</span>
                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Nivel de Estudios</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Colegio/Centro de Estudios/Universidad</label>
                                                <input type="email " class="input-control " required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="right-inline ">Área de Estudio/Carrera</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">País</label>
                                                <input type="email " class="input-control " required/>
                                            </div>
                                            <div class="form-group">

                                                <label class="right-inline">Concluida</label>
                                                <select class="input-control" required>
                                              <option>SI</option>
                                              <option>NO</option>                                              
                                               </select>

                                                <label class="right-inline">Fecha Inicio</label>
                                                <input type="date" class="input-control" required/>

                                                <label class="right-inline">Fecha Fin</label>
                                                <input type="date" class="input-control" required/>
                                            </div>

                                            <div class="form-group ">
                                                <label class="right-inline ">Colegio Profesional</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Nro. de Registro Profesional</label>
                                                <input type="email " class="input-control " required/>

                                                <input type="button" class="input-control" value="Guardar">
                                            </div>

                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">c) Idiomas</span>
                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">Complete TODA la información relacionada con conocimiento de idiomas, seleccionando el nivel de dominio: AVANZADO-BUENO-REGULAR-MALO</span>
                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Idioma</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Centro de Estudios</label>
                                                <input type="email " class="input-control " required/>
                                            </div>

                                            <div class="form-group ">

                                                <label class="right-inline">Nivel de dominio</label>
                                                <select class="input-control" required>
                                              <option>AVANZADO</option>
                                              <option>INTERMEDIO</option>                                              
                                              <option>BASICO</option> 
                                               </select>

                                                <input type="button" class="input-control" value="Guardar">
                                            </div>

                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">e) Paquetes de Computación/Software</span>
                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">Complete TODA la información relacionada con conocimiento de paquetes de computación/software, seleccionando el nivel de dominio: AVANZADO-INTERMEDIO-BÁSICO</span>
                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Paq. de Computación/Software</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Centro de Estudios</label>
                                                <input type="email " class="input-control " required/>
                                            </div>

                                            <div class="form-group ">

                                                <label class="right-inline">Nivel de dominio</label>
                                                <select class="input-control" required>
                                              <option>AVANZADO</option>
                                              <option>INTERMEDIO</option>                                              
                                              <option>BASICO</option> 
                                               </select>

                                                <input type="button" class="input-control" value="Guardar">
                                            </div>


                                            <span style="font-size: 14px; color: #05660d; font-weight: bold;">d) Cursos relacionados con el puesto al que postulas</span>
                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">Complete TODA la Información que se solicita sobre los cursos realizados por su persona, en los ÚLTIMOS 5 AÑOS y que tengan RELACIÓN DIRECTA con el cargo al que  está postulando.</span>
                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Nombre del Curso</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Centro de Estudios</label>
                                                <input type="email " class="input-control " required/>
                                            </div>

                                            <div class="form-group">

                                                <label class="right-inline">Fecha Inicio</label>
                                                <input type="date" class="input-control" required/>

                                                <label class="right-inline">Fecha Fin</label>
                                                <input type="date" class="input-control" required/>

                                                <input type="button" class="input-control" value="Guardar">
                                            </div>


                                            <div class="row px-1 mt-2 " style="text-align:center; ">
                                                <div class="next-button " style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold; ">
                                                    siguiente <span class="icon_salir " style="font-size: 14px; margin-top: 7px; " class="material-icons ">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card2 ml-2 ">

                                            <h5 class="subtitulo"> &nbsp;EXPERIENCIA LABORAL
                                            </h5>


                                            <span style="font-weight: 8px!important;color: black;">"Describa la experiencia laboral  señalando los diferentes cargos ocupados en los ÚLTIMOS 10 AÑOS y preferentemente que tenga RELACIÓN DIRECTA con el cargo al que postula. 
                                                Comience por el cargo ACTUAL o el más reciente.
                                                Se solicita que en la columna destinada a FUNCIONES, describa las mismas de manera BREVE y CONCISA.
                                                Si se encuentra trabajando actualmente, coloque en la columna de F. FIN, la fecha en la que está enviando el formulario.
                                                Detalle día/mes/año, caso contrario no se tomará en cuenta el periodo de tiempo en el cargo que se describe.
                                                Las actividades relacionadas con DOCENCIA deberán describirse en el punto 5."</span>
                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Entidad</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Cargo Ocupado</label>
                                                <input type="email " class="input-control " required/>
                                            </div>
                                            <div class="form-group ">

                                                <label class="right-inline ">Nombre del Jefe Inmediato Superior		
                                                </label>
                                                <input type="email " class="input-control " required/>

                                                <label class="right-inline ">Teléfono de Contacto</label>
                                                <input type="email " class="input-control " required/>
                                            </div>
                                            <div class="form-group">

                                                <label class="right-inline">Fecha Inicio</label>
                                                <input type="date" class="input-control" required/>

                                                <label class="right-inline">Fecha Fin</label>
                                                <input type="date" class="input-control" required/>
                                            </div>

                                            <div class="form-group ">

                                                <label class="right-inline ">Descripción de funciones</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Motivo de Retiro</label>
                                                <input type="text " class="input-control " required/>

                                                <input type="button" class="input-control" value="Guardar">
                                            </div>

                                            <div class="row px-1 mt-2 " style="text-align:center; ">
                                                <div class="next-button " style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold; ">
                                                    siguiente <span class="icon_salir " style="font-size: 14px; margin-top: 7px; " class="material-icons ">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card2 ml-2 ">

                                            <h5 class="subtitulo"> &nbsp;5. ACTIVIDADES EMPRESARIALES, DE DOCENCIA Y/O PROFESIONALES A LAS QUE SE DEDICA ADICIONALMENTE AL TRABAJO O PROFESIÓN (OPCIONAL).
                                            </h5>

                                            <br>
                                            <br>

                                            <div class="form-group ">
                                                <label class="right-inline ">Descripcion</label>
                                                <input type="text " class="input-control " required/>

                                                <input type="button" class="input-control" value="Guardar">
                                            </div>

                                            <div class="row px-1 mt-2 " style="text-align:center; ">
                                                <div class="next-button " style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold; ">
                                                    siguiente <span class="icon_salir " style="font-size: 14px; margin-top: 7px; " class="material-icons ">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card2 ml-2 ">

                                            <h5 class="subtitulo"> &nbsp;6. DATOS PARA LA CONVOCATORIA
                                            </h5>

                                            <br>
                                            <br>

                                            <div class="form-group">

                                                <label class="right-inline">Fue evaluado(a) anteriormente por Idepro IFD?</label>
                                                <select class="input-control" style="width: 20%!important;" required>
                                              <option>SI</option>
                                              <option>NO</option>                                              
                                               </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline ">Lugar de evaluación</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline">Fecha evaluación</label>
                                                <input type="date" class="input-control" required/>
                                            </div>

                                            <br>
                                            <br>

                                            <div class="form-group">

                                                <label class="right-inline">Ha trabajado anteriormente en Idepro IFD?</label>
                                                <select class="input-control" style="width: 20%!important;" required>
                                              <option>SI</option>
                                              <option>NO</option>                                              
                                               </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline ">Área/Regional</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline">Inicio</label>
                                                <input type="date" class="input-control" required/>
                                                <label class="right-inline">Fin</label>
                                                <input type="date" class="input-control" required/>
                                            </div>

                                            <br>
                                            <br>

                                            <div class="form-group">

                                                <label class="right-inline">Ha trabajado anteriormente en el Sistema Financiero?</label>
                                                <select class="input-control" style="width: 20%!important;" required>
                                              <option>SI</option>
                                              <option>NO</option>                                              
                                               </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline ">Entidad</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline">Inicio</label>
                                                <input type="date" class="input-control" required/>
                                                <label class="right-inline">Fin</label>
                                                <input type="date" class="input-control" required/>
                                            </div>

                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">Señale su pretensión salarial expresada en Bs. y mensual (no utilice rangos). Solo coloque el monto - Ej. 2000.<br>
                                                Señale el tiempo necesario en el que si fuera elegido podría ingresar al Banco.
                                            </span>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="right-inline ">Pretensión Salarial (Bs./mes):</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Disponibilidad de tiempo:</label>
                                                <input type="text " class="input-control " required/>
                                            </div>

                                            <br>

                                            <span style="font-weight: 8px!important;color: black;">Complete TODA la Información que se solicita sobre sus Referencia Laborales, se recomienda colocar los nombres de sus inmediatos superiores.	
                                            </span>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="right-inline ">Nombre de la Persona</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Entidad donde Trabaja</label>
                                                <input type="text " class="input-control " required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="right-inline ">Tel./Celular de contacto</label>
                                                <input type="text " class="input-control " required/>

                                                <label class="right-inline ">Relación laboral con el Postulante							</label>
                                                <input type="text " class="input-control " required/>
                                                <input type="button" class="input-control" value="Guardar">
                                            </div>

                                            <div class="row px-1 mt-2 " style="text-align:center; ">
                                                <div class="next-button " style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold; ">
                                                    siguiente <span class="icon_salir " style="font-size: 14px; margin-top: 7px; " class="material-icons ">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card2 ml-2 ">

                                            <h5 class="subtitulo"> &nbsp;7. DECLARACIÓN JURADA
                                            </h5>


                                            <span style="font-weight: 8px!important;color: black;">Declaro que la información contenida en el presente formulario es verídica y que de demostrarse su falsedad dará lugar a la anulación de la solicitud de postulación para trabajar en Idepro IFD.</span>
                                            <br>
                                            <br>


                                            <div class="form-group">

                                                <label class="right-inline">¿Actualmente tiene parentesco con algún/a trabajador/a de Idepro IFD a nivel nacional?</label>
                                                <select class="input-control" required>
                                              <option>SI</option>
                                              <option>NO</option>                                              
                                               </select>
                                            </div>
                                            <div class="form-group">

                                                <label class="right-inline"> NOMBRE DE LA PERSONA</label>
                                                <input type="text" class="input-control" required/>

                                                <label class="right-inline">TIPO DE PARENTESCO</label>
                                                <input type="text" class="input-control" required/>
                                            </div>
                                            <div class="row px-1 mt-2 " style="text-align:center; ">
                                                <div class="next-button " style="background-color: rgb(221, 152, 23); font-size: 13px; font-weight: bold; ">
                                                    siguiente <span class="icon_salir " style="font-size: 14px; margin-top: 7px; " class="material-icons ">
                                                      chevron_right
                                                  </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card2 ml-2 ">
                                            <div class="row px-3 mt-2 mb-4 text-center ">
                                                <h2 class="col-12 " style="color: #068110 "><strong>Correctamente
                                                      !</strong></h2>
                                                <div class="col-12 text-center "><img class="tick " style="color: darkorange;width: 120px; " src="assets/images/icon/successgif.gif "></div>
                                                <h6 class="col-12 mt-2 "><i>...Se envió su postulación...</i></h6>
                                                <br>
                                                <br>
                                                <br>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="row px-3 ">

                                    <!-- <img class="pic ml-auto mr-3 " src="assets/images/postulante.jpg ">-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>